/* Colors::
Pallete 1
Jet Black : #040000
Peach : #F6C7A5
Scallop Seashell : #F2D0C1
White : #F7F8F8

Pallet 2: 
Taupe : #B1ACA9
Teal : #499FA4
Tiger Lily : #AB6962
Sage Green : #A7A08D


pallete 3: 
Taupe: #E2DAD4
Tan: #B48B78
Carafe: #74584D
Brown Black : #29000A 
*/

/* font-family: 'Souvenir', arial; 
  font-family: 'Futura-Bold', arial;
  font-family: 'Futura Narrow Bold', arial;

*/


html {
    font-family: 'Futura Narrow Bold', arial; 
    font-size: 16px;
    font-size: 22px;
    color: #29000A;
    background-color: #E2DAD4;
    text-align: center;
    margin: 0 auto;
  }

h1 {
    font-family: 'Souvenir' ;
}

h2,h3,h4 {
    font-family: 'Futura Bold', arial; 
    margin: 10px auto;
}
p{
    font-size: 22px;
}
  
                    /* Nav */

/* Nav CSS Start */
Nav {
    
    display:flex;
    padding: 10px;
    margin: 0 auto;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    background-color: #74584D;
    color: #EFEBE6;
    position: fixed;
    z-index: 100;
    border-bottom: 1px solid  #9AB19A;
    top: 0;
    left: -1%
}

#navTitle{
    font-family: 'Souvenir'; 

}
.nav-left {
    display: flex;
    justify-content :space-evenly 
} 

.nav-left img,h2 {
    padding: .75rem;
}

ul{
    display: inline-flex;
    list-style-type: none;
    margin-right: 2rem;

}

li {
    margin: 10PX;
    padding-left: 10PX;
    
}

a {
    color: #EFEBE9;
}

a:hover {
    color: #9AB19A;
    text-decoration: underline;
}

h2.nav-title{
    padding-right: 0;
    margin-right: 0;
}

section { 

    height: fit-content;
    width: fit-content;
    margin: 50px auto;
    text-align: center;

}


.logo {
    width: 2rem;
    height: 2rem;
    padding: 0 ;
    margin: auto ;
    border-radius: 35%;
   
   
}

/* Nav CSS end */




/* INDEX HEADER */



/* INDEX BODY */
.main-content {
    justify-content: center;
    padding: 1%;
}


.aboutProjectSection {
    display:grid;
   grid-template: 10% 20% 30% 10% 20% 10% /20% 20% 15% 500px 25% 20%;
    width: 100%;
    position: relative;
    margin:2rem ;
   padding-left: 3rem;
    /* background-color: #008f22; */
     }

.skillsSection {
  grid-area: 3/1/5/3;
  padding-top: 100px;
  }
  
.projectSection{
          grid-area:1/3/3/5 ;
          padding-left: 3rem;
}
.aboutSection {
   grid-area: 1/1/3/3;
    
}

.aboutSection a {
    color: #29000A;
}

#projectGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 3rem;
    grid-auto-flow: column;
  }

  #navlogo {
      cursor:pointer;
      display:inline-block
  }
 
 

     .project { 
  box-sizing: border-box;
  width: 240px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #29000A;
  font-family: 'Amatic SC',sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin: 5px;
  border: 1px solid #29000A;
  cursor: pointer;
  text-decoration: none;
}
                /* ContactHeader */

header {
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 20px;
    background-image: url("./Resources/images/glasses-eyecatching-2.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1rem;
    width: 100%;
    justify-content: center;
    align-self: center;
    opacity: .9;
    display: inline-flex;
    flex-shrink: 1 ;
    
}

header h1 {
    align-self: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem 0;
    line-height: 1.75rem;
    background-color:#EFEBE9;
    color: #2F362F;
    font-weight: bolder;
    font-size: 60px;
}


#contactH1 {
    background-color: #E2DAD4;
    color: #040000;
}

/* Header End */

/* Index Body Styles */

.skillIcon {
    height: 5rem;
}

/* Contact Body */

/* section{ 
    height: 200;
    margin-bottom: 25px;
} */

.contactLogo {
    width: 5rem;
    height: 5rem;
    margin-top: 40px;
    border-radius: 35%;
    padding: .62Rem;
}   
  

.contactLogo:hover {
    box-shadow: 3px 6px #B48B78 ;
    transition: box-shadow .1s ease-in;
}

.contactLogo:active {
    box-shadow: 1px 1px #29000A inset;
    transition: box-shadow 1s ease-out ;
    
}

.contactHeader {
    top : 0px;
    display: inline-block;
}


.contactLinksSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    overflow-x: hidden;
    margin-bottom: 40px;
    top: 35px;
    }




/*Contact Button */
a{
    text-decoration: underline;
    cursor: pointer;
}




.contactButton {
    color: #EFEBE9;
    background-color: #008f22 ; 
    height: 70px;
    width: 200px;
    font-weight: bolder;
    font-size: large;
}

.contactButton:hover {
        background-color: #efEBE9;
        color: #008f22;
        transition: color .1s ease-in, background-color .1s ease-in;
        
}

.contactButton:active {
  font-size: 20px;
  font-weight: bold;
  transition: font-size .1s;
}



       /* Contact footer */

       

       footer h3{
           padding: 1rem;
           margin-top: 10px;
           
       }
footer span {
    float: none;
} 

footer a {
    padding-right: .4rem;
    color: #2F362F;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.2rem;

    /* Footer end */
}



